* {
    width: 330px;
    padding: 1%;
    border-radius: 5px;
    background-color: #3b3937;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    border: none;
    user-select: none;
    touch-action: none;
}

body {
    width: 300px;
    height: 560px;
    background: #4c4c4c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 100%;
    height: 100%;
    background: #4c4c4c;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 120%;
    height: 23px;
    font-size: 17px;
    color: #3b3937;
    margin-bottom: 7px;
    letter-spacing: 0.16em;
    text-shadow: 1px 1px 0 #ccfcf2, -1px -1px 0 #ccfcf2, -1px 1px 0 #ccfcf2, 1px -1px 0 #ccfcf2, 0px 1px 0 #ccfcf2, -1px 0 #ccfcf2, -1px 0 0 #ccfcf2, 1px 0 0 #ccfcf2;
}

.tabs-box {
    width: 100%;
    height: 100%;
    background: #4c4c4c;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        width: 90%;
        height: 28px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        cursor: grab;
    }

    div.separator {
        cursor: default;
    }

    div.inactive {
        background: rgb(33, 33, 33);
    }

    div.onGrab {
        width: 93%;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
        cursor: grabbing;
    }

    div:not(:last-child) {
        margin-bottom: 3%;
    }
}

.hidden {
    visibility: hidden;
}

.reset {
    width: 30%;
    margin-bottom: 5px;
    background-color: #ef5b50;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(227, 7, 7, 0.1);
    cursor: pointer;
}