div.nGmbUc:not(:first-child) {
    display: none;
}

div.nfdoRb,
div.crJ18e,
div.nGmbUc,
div.ZaDUCc:not(.tNYn6d) {

    :not(.tabsfixer-container, .tab) {
        visibility: hidden;
    }

    .tabsfixer-container {

        display: flex;
        height: 42px;
        font-size: 14px;
        font-weight: bold;

        a {

            &,
            &:visited {
                color: #9c9c9c
            }

            &.active {
                color: #1a73e8;
            }

            &:not(.active):hover {
                color: #434343;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .tab {
            padding: 10px 20px;
            border-bottom: 1px solid #9c9c9c;
            cursor: pointer;

            &.active {
                border-bottom: 3px solid #1a73e8;
            }

            &:not(.active):hover {
                border-bottom: 3px solid #434343
            }

            &.loading {
                visibility: hidden;
            }
        }

        &.darkmode {
            a {

                &,
                &:visited {
                    color: #9aa0a6
                }

                &.active {
                    color: #1a73e8;
                }

                &:not(.active):hover {
                    color: #ddd;
                }
            }

            .tab {
                border-bottom: 1px solid #9aa0a6;

                &.active {
                    border-bottom: 3px solid #1a73e8;
                }

                &:not(.active):hover {
                    border-bottom: 3px solid #ddd;
                }
            }
        }
    }
}